.extra2 {
    position: relative;
    padding-top: 60px;
    padding-bottom: 80px;
    color: #eee;
}

.extra2 h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 60px;
}

.extra2 .form {
    text-align: left;
    margin: auto;
    width: 50%;
    padding-left: 5vw;
    box-sizing: border-box;
}

.extra2 p,
.extra2 input{
   text-align: left;
}
.extra2 p {
    display: block;
    width: 300px;
    margin-bottom: 15px;

}
.extra2 input {
    width: 300px;
    height: 32px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding-left: 10px;
    text-align: left;
    background-color: transparent;
    color: #eee;

    /* border */
    border: none;
    border-bottom: 1px solid rgba(255,255,255,.3);
}

.extra2 input:focus::placeholder {
    opacity: .1;
}

.extra2 .btn {
    border-radius: 2px;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 6px rgba(0,0,0,.2),
    -2px -2px 6px rgba(255,255,255,.4);
    color: #405d27;
}
.extra2 .btn.browse {
    margin-left: 20px;
    height: 28px;
    width: 100px;
}
.extra2 .btn:active {
    -webkit-box-shadow: inset 2px 2px 4px rgba(0,0,0,.2);
     -moz-box-shadow: inset 2px 2px 4px rgba(0,0,0,.2);
    box-shadow: inset 2px 2px 4px rgba(0,0,0,.2);
}


.btn.submit {
   margin-left: 50%;
   transform: translate(-80%);
   margin-top: 32px;
   width: 150px;
   height: 30px;
}


/* Pengaturan untuk setiap web browser */
/* Mozila */
input::-moz-placeholder{
    text-align: left;
    opacity: .6;
    color: #fff;
}
input::-webkit-input-placeholder {
    text-align: left;
    opacity: .6;
    color: #fff;
}
