/* untuk tablet */
@media all and (max-width: 1000px) {
    .top-wrapper h1 {
        font-size: 32px;
    }
    
    .heading h2 {
        font-size: 20px;
    }
    
    .mySlides h1 {
        font-size: 32px;
    }
    
    .mySlides h2 {
        font-size: 25px;
    }
    
    .imgProfile {
        width: 50%;
        height: 50%;
    }
    
    .profile {
        font-size: 25px;
        line-height: 20px;
    }
    
    .profile h2 {
      font-size: 25px;
      line-height: 20px;
    }
    
    
    .grid-container {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        margin: 30px;
        justify-content: center;
        grid-gap: 30px;
    }
    .extra2 .form {
        width: 60%;
        padding-left: calc(1 * 8vw);
        padding-right: calc(1* 1vw);
        margin-bottom: 50px;
    }
}

/*untuk smartphone*/
@media all and (max-width: 670px) {
    .header-right {
         display: none;
    }
    
    .fa.menu-icon {
         display: block;
    }
    
    .btn {
        width: 100%;
    }
    
    .mySlides h1 {
        font-size: 24px;
    }
    
    .mySlides h2 {
        font-size: 14px;
    }
    
   .grid-container {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        margin: 30px;
        justify-content: center;
        grid-gap: 30px;
    
    }
    
    
    .profile {
        font-size: 14px;
        line-height: 20px;
    } 
    
    .profile h2 {
        font-size: 14px;
        line-height: 20px;
    }  
    
    .extra2 .form {
        width: 100%;
        padding-left: calc(3 * 6vw);
        padding-right: calc(2vw);
    }
}

 footer {
    text-align: center;
}
