/* GLOBAL */
* {
  margin: 0;
  padding: 0;
}
body {
	font-family: "Avenir Next";
}
li {
  list-style: none;
}
img {
  vertical-align: middle;
    height: auto;
      
}

/* HEADER  */
header {
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position :fixed;
    top: 0;
    z-index: 10;
    font-size: 14px;
  }
  
  .header-left {
    float: left;
    margin-left: -10px;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    text-decoration: none;
    line-height: 50px;
    padding: 0 25px;
    color: #ccc;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
  }
  .container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }

/* SLIDESHOW */
.mySlides {
  display: none;
}
.mySlides h1.slides{
  position: absolute;
  bottom: 13%;
  left: 10%;
  font-size: 96px;
  color: #ddd;
}
.mySlides h2.slides{
  position: absolute;
  left: 10%;
  bottom: 40%;
  font-size: 64px;
  color: #eee;
}
.imgSlideShow {
    width: 100%;
    height: 400px; 
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    min-height: 400px;
    background-color: rgba(0, 0, 0, 0.1);
    transition: ease .5s;
}
.slideshow-container:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.slideshow-container:hover .mySlides h1.slides {
  color: #eee;
}

.prev, 
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 4px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 36px;
    transition: 0.6s ease;
    user-select: none;
    opacity: .3;
}
.prev:hover, 
.next:hover {
    opacity: 1;
}
.next {
    right: 2%;
}
.prev {
  left: 2%;
}
.dot {
    cursor: pointer;
    height: 1.5vw;
    width: 1.5vw;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #eee;
    transition: background-color 0.6s ease;
    margin-right: 24px;
    margin-top: 16px
}
.dotSlider {
  position: absolute;
  bottom: 5%;
  opacity: .7;
  text-align: center;
  left: 0;
  right: 0;
}
.dotSlider:hover {
  opacity: .9;
}
.active,
.dot:hover {
    background-color: #fff;
}

/* FOTO PROFILE */
.imgProfile {
        width: 300px;
        height: 300px;
}

.item2 {
	float: left;
	width: 20%;
}

.profile {
  padding-top: 40px;
  background-color: #ddd;
  padding-bottom: 60px;
}

.profile h2.title {
  font-size: 46px;
  text-align: center;
  padding-bottom: 40px;
  color: #6a963c;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 60px;
    padding: 10px;
    margin: 30px;
    justify-content: center;
  }

  
.grid-container > div {
    background-color: #ddd;
    box-shadow: -3px -3px 10px rgba(255,255,255,.7),
    3px 3px 10px rgba(0,0,0,.4),
    inset 3px 3px 10px rgba(255,255,255,.6) ;
    text-align: center;
    max-width: 250px;
    padding: 20px;
    font-size: 15px;
    border-radius: 10px;
}
.grid-container h2.name {
  font-size: 24px;
  margin-top: 10px;
  color: #6a963c;
  font-weight: 900;
}
.grid-container p {
  margin-top: 16px;
  margin-bottom: 60px;
  color: #6a963c;
}
ul {
    position:static;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center;
}
  
ul li {
  list-style: none;
}
  
ul li a {
  position: relative;
  width:60px;
  height:60px;
  display:block;
  text-align:center;
  margin:0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration:none;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .5s;
}
  
ul li a:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
  
ul li a .fa {
  width: 100%;
  height:100%;
  display:block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size:24px;
  color: #262626;
  transition: .5s;
}
  
ul li:nth-child(1) a:hover .fa {
  color: #00aced;
}
  
ul li:nth-child(2) a:hover .fa {
  color: #e4405f;
}

/* PAGE ONE */
.main {
    background-color: #82b74b;
    background-size: auto;
    padding-top: 0px;
}

/* PAGE TWO */
.daftar {
  background-color: #405d27;
  background-size: auto;
  width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Bungee Shade', cursive;
}

.footer {
	background-color: #ceccf3;
	height: 270px;
}


h1 {
	display: static;
	align-items: center;
	justify-content: center;
	align-content: center;
	
	font-size: 5vw;
}	


/* FOOTER */
footer {
  height: 50px;
  overflow: hidden;
  position: relative;
  padding-top: 5px;
  background-color: #ddd;
}
.footer-img {
  position: absolute;
  top: -30px;
  width: 120px;
  height: 120px;
}

 footer p {
  color: #262626;
  font-size: 15px;
}

.menu-icon {
	color: #ffffff;
	float: right;
	font-size: 25px;
	padding: 21px 0;
	display: none;
}
