/* GLOBAL */
body {
	font-family: "Avenir Next";
}
li {
	list-style: none;
}
img {
    vertical-align: middle;
        width: 100%;
        height: auto;
      
}

/* HEADER  */
header {
    height: 100px;
    width: 100%;
    background-color:hsla(180, 5%, 25%, 0.486);
    position :fixed;
    top: 0;
    z-index: 10;
    font-size: 18px;
  }
  
  .logo {
    width: 212px;
    margin-top: 20px;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 100px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }

/* SLIDESHOW */
.mySlides {
	display: none
}
.imgSlideShow {
    width: 1000px;
    height: 300px;
  
}
.slideshow-container {
    max-width: 98%;
    position: relative;
    margin: auto;
}
.prev, 
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.prev: hover, .next: hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.dot: hover {
    background-color: #717171;
}

/* FOTO PROFILE */
.imgProfile {
        width: 300px;
        height: 300px;
      
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
  }
  
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
}ul {
    position:static;
    margin-left: auto;
    margin-right: auto;
    display:flex;
  }
  
  ul li {
    list-style: none;
  }
  
  ul li a {
    position: relative;
    width:60px;
    height:60px;
    display:block;
    text-align:center;
    margin:0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
  }
  
  ul li a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  }
  
  ul li a .fa {
    widht: 100%;
    height:100%;
    display:block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size:24px;
    color: #262626;
    transition: .5s;
  }
  
  ul li:nth-child(1) a:hover .fa {
    color: #00aced;
  }
  
  ul li:nth-child(2) a:hover .fa {
    color: #e4405f;
  }

/* PAGE ONE */
.main {
    background-color: #82b74b;
    background-size: auto;
}

/* PAGE TWO */
.daftar {
    background-color: #405d27;
    background-size: auto;
    width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Bungee Shade', cursive;
}

.footer {
	background-color: #ceccf3;
	height: 270px;
}


h1 {
	display: static;
	align-items: center;
	justify-content: center;
	align-content: center;
	
	font-size: 5vw;
	background: linear-gradient(
		-45deg, 
		#4bc0c8 25%, 
		#feac5e 25%, 
		#feac5e 50%, 
		#4bc0c8 50%, 
		#4bc0c8 75%, 
		#feac5e 75%, 
		#feac5e);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-position: 0 0;
}	
